apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.release_name }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ .Values.release_name }}"
  template:
    metadata:
      labels:
        app: "{{ .Values.release_name }}"
    spec:
      nodeSelector:
        kubernetes.io/hostname: rke-2-worker03
      containers:
      - name: "{{ .Values.release_name }}"
        image: "{{ .Values.images.scope.registry }}/{{ .Values.images.scope.repository }}:{{ .Values.images.scope.tag }}"
        env:
        - name: RASA_MAX_CACHE_SIZE
          value: "0"
        command: ["/bin/sh"]
        args:
          - "-c"
          - >
            rasa run --enable-api --verbose
              
        ports:
        - containerPort: 5005
        resources:
          limits:
             cpu: "1000m"
             memory: "4Gi"
        volumeMounts:
          - name: trainbot-rasa-models
            mountPath: /app/models
      volumes:
      - name: trainbot-rasa-models
        persistentVolumeClaim:
          claimName: pvc-trainbot-models



