apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ .Values.release_name }}"
spec:
  selector:
    matchLabels:
      app: "{{ .Values.release_name }}"
  template:
    metadata:
      labels:
        app: "{{ .Values.release_name }}"
    spec:
      automountServiceAccountToken: false
      initContainers:
        - name: bring-train-data
          image: alpine/git:2.36.3
          volumeMounts:
            - name: trainbot-rasa-locations
              mountPath: /rasa/locations
          command: ["/bin/sh"]
          args:
            - "-c"
            - >
              git clone $DSL_REPO /tmp/dsl-source &&
              echo 'downloaded' &&
              cp -r /tmp/dsl-source/$DSL_PATH/* /rasa/locations/ &&
              echo 'moved' &&
              ls /rasa/locations/
          env:
            - name: DSL_REPO
              value: {{ .Values.images.bot.dsl.repo }}
            - name: DSL_PATH
              value: {{ .Values.images.bot.dsl.path }}

        - name: init-copy-files-backoffice
          image: "{{ .Values.images.backoffice.registry }}/{{ .Values.images.backoffice.repository }}:{{ .Values.images.backoffice.tag }}"
          command: ["/bin/sh", "-c"]
          args:
            - |
              pwd
              cp -r ../DataMapper/backoffice/ /workspace/app/module/

              ls -la /workspace/app/module/
          volumeMounts:
            - name: dmapper-volume
              mountPath: /workspace/app/module/
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
          resources:
            limits:
              cpu: "250m"
              memory: "512Mi"
        - name: init-copy-files-analytics
          image: "{{ .Values.images.analytics.registry }}/{{ .Values.images.analytics.repository }}:{{ .Values.images.analytics.tag }}"
          command: ["/bin/sh", "-c"]
          args:
            - |
              pwd
              cp -r ../DataMapper/analytics /workspace/app/module/
              ls -la /workspace/app/module/
          volumeMounts:
            - name: dmapper-volume
              mountPath: /workspace/app/module/
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
          resources:
            limits:
              cpu: "250m"
              memory: "512Mi"
        - name: init-copy-files-training
          image: "{{ .Values.images.training.registry }}/{{ .Values.images.training.repository }}:{{ .Values.images.training.tag }}"
          command: ["/bin/sh", "-c"]
          args:
            - |
              pwd
              cp -r ../DataMapper/training /workspace/app/module/
              ls -la /workspace/app/module/
          volumeMounts:
            - name: dmapper-volume
              mountPath: /workspace/app/module/
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
          resources:
            limits:
              cpu: "250m"
              memory: "512Mi"
        - name: init-copy-files-services
          image: "{{ .Values.images.services.registry }}/{{ .Values.images.services.repository }}:{{ .Values.images.services.tag }}"
          command: ["/bin/sh", "-c"]
          args:
            - |
              pwd
              cp -r ../DataMapper/services /workspace/app/module/
              ls -la /workspace/app/module/
          volumeMounts:
            - name: dmapper-volume
              mountPath: /workspace/app/module/
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
          resources:
            limits:
              cpu: "250m"
              memory: "512Mi"
        - name: datamapper-service-dsl
          image: alpine/git:2.36.3
          volumeMounts:
            - name: byk-dsl-services
              mountPath: /data
          command: ["/bin/sh"]
          args:
            - "-c"
            - >
              git clone $DSL_REPO /tmp/dsl-source &&
              echo 'downloaded' &&
              cp -r /tmp/dsl-source/$DSL_PATH/* /data/ &&
              cp -r /tmp/dsl-source/secrets /data/ &&

              echo 'moved' &&
              ls /data/
          env:
            - name: DSL_REPO
              value: "{{ .Values.images.pipelines.service.repo }}"
            - name: DSL_PATH
              value: "{{ .Values.images.pipelines.service.path }}"
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
          resources:
            limits:
              cpu: "250m"
              memory: "512Mi"
      containers:
        - name: "{{ .Values.release_name }}"
          image: "{{ .Values.images.scope.registry }}/{{ .Values.images.scope.repository }}:{{ .Values.images.scope.tag }}"
          env:
            - name: EXTENSION
              value: .hbs
            - name: CONTENT_FOLDER
              value: /data
          ports:
            - containerPort: 3000
              name: http
          volumeMounts:
            - name: dmapper-volume
              mountPath: /workspace/app/module/
            - name: byk-dsl-services
              mountPath: /data
              readOnly: false
            - name: trainbot-rasa-locations
              mountPath: /rasa/locations
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            privileged: false
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            runAsUser: 10001
          resources:
            limits:
              cpu: "250m"
              memory: "512Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 24
            periodSeconds: 11
          readinessProbe:
            httpGet:
              path: /
              port: 3000
            initialDelaySeconds: 25
            periodSeconds: 10
      volumes:
        - name: dmapper-volume
          emptyDir: {}
        - name: byk-dsl-services
          persistentVolumeClaim:
            claimName: byk-dsl-services
        - name: trainbot-rasa-locations
          persistentVolumeClaim:
            claimName: pvc-trainbot
