apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.release_name }}
spec:
  selector:
    app: {{ .Values.release_name }}
  ports:
  - protocol: TCP
    port: 9010
    targetPort: 8080
    name: http

